<h1>About Page</h1>


<ul>
<li><%= link_to 'home', home_path %></li>
</ul>

<p>
We strive to help you learn git. it is our passion.
</p>


<!--boi
  -->

<!--do u kno de wai
-->

<!--show me
-->


<!--never gonna give u up
never gonna let u down
never gonna run around and desert u
never gonna bluhbluh
never gonna say goodbye
never gonna run around and bluhbluh
-->
